*{
    margin: 0;
    padding: 0;
    
  }
  body{
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  #header {
      background-color: rgba(255, 255, 255, 0.89);
      display: flex;
      justify-content: flex-end;
      top: 0;
      padding: 15px;
      z-index: 1;
      border-bottom:solid rgb(232, 232, 255) 2px;
    }
    html {
      font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
      scroll-behavior: smooth;
    }
    
    li,
    a,
    button {
      font-weight: 500;
      font-size: 16px;
      color: black;
      text-decoration: none;
    }
    a.brand{
      color: black;
    }
  
  
    main{
      margin-left: 15%;
    }
    #home {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      border: none;
      margin: 0 auto;
      background-image: linea-gradient(rgba(136, 67, 67, 0.5), rgb(184, 88, 88)),
        url(../assets/image/rak.jpg);
      background-size: cover;
      background-position: center;
    }
  sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: rgb(248, 248, 248);
    border-right:solid rgb(232, 232, 255) 2px;
  }
  sidebar header{
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: rgb(146, 82, 82);
  }
  sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 47px;
    font-size: 21px;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid;
    border-bottom: 1px solid;
    transition: .4s;
  }
  
  sidebar ul li:hover a{
    padding-left: 50px;
  }
  
  #content{
    margin: 20px;
  }
  
  .box1{
    width:250px;
    height:150px;
    background:rgb(223, 235, 223);
    border-radius: 9px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  .box1:hover{
    transform: scale(1.09);
    transition: 0.5s;
  }
  .container {
    margin-top: 30px;
  }
  
  .container #list_book{
      width: 800px;
      border-collapse: collapse;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .table_book td {
      background-color: rgba(255,255,255,0.2);
      color: rgb(26, 23, 23);
  }
  .table_user td {
      background-color: rgba(255,255,255,0.2);
      color: rgb(26, 23, 23);
  }
  
  thead th {
          background-color: #55608f;
      }
  
  tbody tr:hover {
          background-color: rgba(238, 103, 103, 0.3);
        }
  
  tbody td {
        position: relative;
  }
  