* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 15px;
}

img {
    height: 200px;
    object-fit: cover;
}

.section-title {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: left;
}

.line {
    height: 5px;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* header */

#header {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    top: 0;
    align-items: center;
    padding: 15px;
    z-index: 1;
    border-bottom: 1px solid #e1e8ee;
}

.brand {
    margin-left: 30px;
    font-weight: bolder;
    color: black;
    font-size: x-large;
    cursor: pointer;
    margin-right: auto;
}

nav {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav li a {
    transition: all 0.3s ease 0s;
}

nav li a:hover {
    color: #c91919;
}

.menu-btn {
    display: none;
}

.menu-btn input {
    position: absolute;
    width: 40px;
    height: 20px;
    right: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #e5e5e5;
    margin: 5px;
    margin-right: 30px;
}

button {
    padding: 2px 15px;
    background-color: #ff8b8b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #ff4f4f;
}


/* header */


/* Kategori */

.left-side {
    margin-top: 20px;
    margin-right: 60px;
    width: 70%;
    position: relative;
}

.right-side {
    margin-top: 20px;
    width: 30%;
    margin-bottom: 120px;
    margin-left: 20px;
}

.box {
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 50px;
    border: 1px solid #e1e8ee;
    background-color: white;
}


/* Panel Kiri */

.item-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

.list-category {
    display: flex;
    flex-direction: row;
}

.item-list p {
    font-size: 14px;
}

.item-list:hover h4 {
    color: #ff4f4f;
    transition: all 0.5s;
}


/* Panel Kiri */


/* Panel Kanan */


/* Cari */

.search h3 {
    padding-bottom: 20px;
}

.search-form {
    display: flex;
    flex-direction: row;
}

label {
    cursor: default;
    margin-right: 30px;
}

.search-form input.search-field {
    background-color: #fff8f8;
    width: 105%;
    padding: 12px 15px;
    border-radius: 5px;
}

.search-btn img {
    background-color: #ff8b8b;
    padding: 10px;
    height: 43px;
    border-radius: 5px;
    float: right;
}

.search-btn img:hover {
    background-color: #ff4f4f;
}


/* Cari */


/* List Kategori */

.list h3 {
    padding-bottom: 20px;
}

.list-form a {
    font-weight: lighter;
}

.list-form li {
    list-style: inside none disc;
    list-style-position: inside;
    border-bottom: 1px dashed #86939e;
    padding: 8px 0;
}


/* List Kategori */

.item-info {
    position: relative;
    display: inline-block;
}

.sinopsis p {
    display: inline-block;
    position: relative;
    align-items: center;
}


/* Panel Kanan */


/* Kategori */


/* footer */

footer {
    padding: 20px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 10px;
}


/* footer */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 50px;
    }
    .category {
        align-items: center;
        justify-content: center;
    }
    .section-title {
        text-align: center;
    }
    .left-side {
        width: 100%;
    }
    .right-side {
        width: 100%;
        margin-left: -60px;
    }
    .search-form input.search-field {
        width: 360px;
    }
    .box {
        align-items: center;
        margin-left: 50px;
    }
    .list-category {
        flex-wrap: wrap;
    }
    .item-list {
        width: min-content;
    }
}